<div id="nav">
          <button type="button" class="btn btn-success" id="newArticles">Scrape New Articles</button>
          <button type="button" class="btn btn-danger" id="clearArticles">Clear Articles</button>
      </div>
    <div id="wrapper">
      <h1>News Scraper</h1>
      <div id="articles"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/public/app.js"></script>
